{% extends "base.html" %}
{% load material_forms %}

{% block title %}Vauxhall Walk Sign-In Sheet{% endblock %}

{% block content %}

    <h1>One-Time Token</h1>

    {% if message %}
        <p class="flow-text center-align">
            {{ message }}
        </p>
    {% endif %}

    <form class="col s12" action="" method="POST">
        {% csrf_token %}

        <p class="flow-text red">
        {{ form.non_field_errors }}
        </p>

        {{ form }}

        <div class="row center-align" style="margin-top: 2em">
            <button class="waves-effect waves-light btn" style="min-width: 12rem" type="submit">Continue</button>
            <a class="waves-effect waves-light btn grey" style="min-width: 12rem" href="{% url 'login' %}">Back</a>
        </div>

    </form>
    {% init_form %}
{% endblock %}