{% extends "base.html" %}
{% load material_forms %}

{% block title %}Social Finance Registration Site{% endblock %}

{% block content %}

    <h2>{{ method.title }} Registration</h2>

    <form class="col s12" action="" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {{ form }}

      <div class="row">
        <div class="input-field col s6">
            <button class="waves-effect waves-light btn" type="submit">Continue</button>
            <a class="waves-effect waves-light btn grey" href="{% url 'login' %}">Back</a>
        </div>
      </div>
    </form>
    <script>
      {% init_form %}
    </script>
{% endblock %}