{% extends "base.html" %}
{% load material_forms %}

{% block page_header %}
    {% include "register/menu.html" with crumb="Profile" %}
{% endblock %}

{% block content %}

<h1>Vauxhall Walk Sign-In Sheet</h1>


<form method="POST">
{% csrf_token %}

    <div class="row" style="max-width: 40em; margin-top: 3em;">
        <div class="input-field col s12 m6">
            {% text_field form.first_name label="First Name" %}
        </div>
        <div class="input-field col s12 m6">
            {% text_field form.last_name label="Last Name" %}
        </div>
    </div>

    <div class="row center-align" style="margin-top: 2em">
        <button class="waves-effect waves-light btn z-depth-3" type="submit">
            Update Details
        </button>
    </div>
</form>

{% endblock %}