{% extends "base.html" %}

{% block title %}Social Finance Registration Site{% endblock %}

{% block content %}

    <h2>{{ method.title }} Registration</h2>

    <form class="col s12" action="" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">{{ method.icon }}</i>
          <input id="id_contact_value" name="contact_value" type="text"
                 value="{% if form.contact_value.value %}{{ form.contact_value.value }}{% endif %}"
                 class="validate {% if form.contact_value.errors %}invalid{% endif %}">
          <label for="id_contact_value">{{ method.label }}</label>
          <span class="helper-text" data-error="{{ form.contact_value.errors.as_text }}"/>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <button class="waves-effect waves-light btn" type="submit">Continue</button>
            <a class="waves-effect waves-light btn grey" href="{% url 'register' %}">Back</a>
        </div>
      </div>
    </form>
    <script>
     $(document).ready(function() {
        M.updateTextFields();
     });
    </script>
{% endblock %}