{% extends "base.html" %}
{% load material_forms %}

{% block title %}Social Finance Registration Site{% endblock %}

{% block content %}

    <h2>Sign In</h2>

    <form class="col s12" action="" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {%  if show_details %}
      <div class="row">
        <div class="input-field col s12">
        {% text_field form.first_name label="First Name" %}
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
        {% text_field form.last_name label="Last Name" %}
        </div>
      </div>
      {% endif %}

      <div class="row">
        <div class="input-field col s12">
        {% text_field form.code label="Six-digit code" %}
        </div>
      </div>

      <div class="row">
          <p class="col s12">
              By clicking sign-in below I confirm that I am currently in the office and that I am aware of,
              and will follow, the current COVID risk assessment, including any pre-conditions for entering
              the office, such as testing and temperature checks.
          </p>
      </div>

      <div class="row">
        <div class="input-field col s12">
            <button class="waves-effect waves-light btn" type="submit">Sign-in</button>
            <a class="waves-effect waves-light btn grey" href="{% url 'register' %}">Cancel</a>
        </div>
      </div>

    </form>

    {% init_form %}
{% endblock %}